<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
		<div class="navbar navbar-default" >	
				<div class="navbar-inner">
					<div class="container">
						<ul class="nav navbar-nav">  <!-- need navbar-nav for horizontal nav -->
							<li class="active"><a href="#">Home</a></li>
							<li class><a href="#">Nearby</a></li>
						</ul>
					</div>
				</div>
		</div>

    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>[{{ greeting.date.ctime() }}] {{ greeting.content }} </blockquote>
    {% endfor %}

    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <form action="/clear?guestbook_name={{ guestbook_name}}" method="post">
      <input type="submit" value="Clear all entries"></input>
    </form>
    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name"></input>
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>
  </body>
</html>
{% endautoescape %}
