<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="navbar navbar-default" >	
      <div class="navbar-inner">
	<div class="container">
	  <ul class="nav navbar-nav">  <!-- need navbar-nav for horizontal nav -->
	    <li class="active"><a href="#">Home</a></li>
	    <li class><a href="#">Clear entries</a></li>
	  </ul>
	</div>
      </div>
    </div>

    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>[{{ greeting.date.ctime() }}] {{ greeting.content }} </blockquote>
    {% endfor %}

    <form role="form" class="well"
	  action="/sign?guestbook_name={{ guestbook_name }}" method="post">
	<textarea class="form-control" name="content" rows="3" 
		  placeholder="Leave me a message…"></textarea>
	<button type="submit" class="btn btn-primary">
	  Sign Guestbook</button>
    </form>

    <form class="well">
      Guestbook name:
      <input type="text" class="form-control" value="{{ guestbook_name }}"
	     name="guestbook_name"></input>
      <button type="submit" class="btn" >Switch guestbook</button>
    </form>
    <!--
    <a href="{{ url|safe }}">{{ url_linktext }}</a>
    -->
  </body>
</html>
{% endautoescape %}
